@import "tailwindcss";

@theme {
  --color-woodsmoke-50: #f6f6f6;
  --color-woodsmoke-100: #e7e7e7;
  --color-woodsmoke-200: #d1d1d1;
  --color-woodsmoke-300: #b0b0b0;
  --color-woodsmoke-400: #888888;
  --color-woodsmoke-500: #6d6d6d;
  --color-woodsmoke-600: #5d5d5d;
  --color-woodsmoke-700: #4f4f4f;
  --color-woodsmoke-800: #454545;
  --color-woodsmoke-900: #3d3d3d;
  --color-woodsmoke-950: #161616;

  --color-vermilion-50: #fff6ec;
  --color-vermilion-100: #ffebd3;
  --color-vermilion-200: #ffd2a5;
  --color-vermilion-300: #ffb26d;
  --color-vermilion-400: #ff8632;
  --color-vermilion-500: #ff640a;
  --color-vermilion-600: #ff4a01;
  --color-vermilion-700: #cc3202;
  --color-vermilion-800: #a1280b;
  --color-vermilion-900: #82240c;
  --color-vermilion-950: #460e04;

  --color-gray-50: #f6f6f6;
  --color-gray-100: #e7e7e7;
  --color-gray-200: #d1d1d1;
  --color-gray-300: #b0b0b0;
  --color-gray-400: #818181;
  --color-gray-500: #6d6d6d;
  --color-gray-600: #5d5d5d;
  --color-gray-700: #4f4f4f;
  --color-gray-800: #454545;
  --color-gray-900: #3d3d3d;
  --color-gray-950: #262626;

  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

/* inter-latin-700-normal */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(@fontsource/inter/files/inter-latin-700-normal.woff2) format("woff2"),
    url(@fontsource/inter/files/inter-latin-700-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: "Poppins", sans-serif;
}
