@import "tailwindcss";

:root {
  /* Light mode */
  --text: #29262B;
  --background: #ffffff;
  --primary: #AC5FDB;
  --secondary: #E3A2EE;
  --accent: #862FB0;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode */
    --text: #ffffff;
    --background: #29262B;
    --primary: #AC5FDB;
    --secondary: #E3A2EE;
    --accent: #862FB0;
  }
}

/* Manual dark mode class */
.dark {
  --text: #ffffff;
  --background: #29262B;
  --primary: #AC5FDB;
  --secondary: #E3A2EE;
  --accent: #862FB0;
}